<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bus list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div th:replace="fragments/nav :: navbar"></div>
    <div class="col-10 mx-auto mt-3">
        <div class="row">
            <div class="col-6">
                <h1>Bus List</h1>
            </div>
            <div class="col-6">
                <form class="form-inline" th:method="get">
                    <button type="submit" class="btn btn-outline-dark"><i class="fas fa-search"></i></button>
                    <td sec:authorize="hasAnyAuthority('ADMIN')">
                        <a class="btn btn-outline-danger" th:href="@{/bus/add}">ADD</a>
                    </td>
                </form>
            </div>
        </div>


        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">Номер автобуса</th>
                <th scope="col">Id автобусника</th>
                <th scope="col">Id страховой компании</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c: ${buses}">
                <th scope="row" th:text="${c.id}">
                <th scope="row" th:text="${c.busNumber}">
                <th scope="row" th:text="${c.busDriver.id}">
                <th scope="row" th:text="${c.insuranceCompany.id}">
                <th>
                    <a class="btn btn-success" th:href="@{/bus/edit/{id}(id=${c.id})}"><i
                            class="fas fa-edit"></i></a>
                    <a class="btn btn-danger" th:href="@{/bus/delete/{id}(id=${c.id})}"><i
                            class="fa fa-trash-alt"></i></a>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div th:replace="fragments/footer :: scripts"></div>
</body>
</html>