<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Driver form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="col-10 mx-auto">
        <h1>Edit bus flight</h1>
        <form th:action="@{/flight/add}" th:method="POST" th:object="${flight}">
            <input type="hidden" th:field="*{id}"/>
            <div class="mb-3">
                <label for="name">Номер рейса</label>
                <input type="text" class="form-control" th:field="*{numberFlight}"  id="name">

                <label for="workExp">Название начала рейса</label>
                <input type="text" class="form-control" th:field="*{startFlight}"
                       id="workExp">

                <label for="licence">Название конца рейса</label>
                <input type="text" class="form-control" th:field="*{endFlight}"
                       id="licence">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>


<div th:replace="fragments/footer :: scripts"></div>
</body>
</html>